body{
    min-height:100vh;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    margin: 0;
}

.section{
    background-color: #88c1d0;
    /* height:50px; */
    width:50%;
    margin: 2px;
}
@media (max-width:767px){
    body{
        flex-wrap: wrap;
    }
    .section{
        width:50%;
    }
}
@media (min-width:768px) and (max-width:1599px){
    body{
        flex-wrap: wrap;
        flex-direction: row;
    }
    .section{
        width:40%
    }
}